.side-menu {
    width: 220px;
    background-color: #000;
    color: white;
    padding: 20px;
    border-right: 2px solid #6f40f0;
}

    .side-menu h3 {
        color: #f1c40f;
        border-bottom: 2px solid #6f40f0;
        margin-bottom: 10px;
    }

    .side-menu ul {
        list-style: none;
        padding: 0;
    }

    .side-menu a {
        color: #6f40f0;
        text-decoration: none;
    }

        .side-menu a:hover {
            text-decoration: underline;
        }
