.explorar {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.page-area {
    display: flex;
    flex-wrap: wrap; /* PERMITE QUEBRAR LINHA */
}

    .explorar h2 {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .explorar h4 {
        font-weight: normal;
        max-width: 800px;
    }
