@{
    ViewData["Title"] = "PortalGamerX";
    Layout = null; // para não usar o layout padrão
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortalGamerX</title>
    <link rel="icon" href="~/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="video-background">
        <video autoplay muted loop id="video-background">
            <source src="~/videos/VG.mp4" type="video/mp4">
        </video>
    </div>

    <div class="content">
        <div class="slide">
            <h1>Bem-vindo ao PortalGamerX</h1>
            <p>
                Bem-vindo ao PortalGamerX, o seu ponto de encontro com o universo dos games!
                Aqui você descobre os maiores clássicos, explora as histórias por trás dos seus títulos favoritos e mergulha no mundo dos produtos geeks mais incríveis.
                Prepare-se para viver a verdadeira experiência gamer
            </p>
            <a asp-controller="Home" asp-action="PortalGamerX" class="enter-button">Entrar no Site</a>

        </div>
    </div>
</body>
</html>
