@{
    ViewData["Title"] = "PortalGamerX";
    Layout = "_Layout";
}

<div class="page-area">
    <!-- Lateral esquerda -->
    <div class="side left">
        <img src="~/images/SideImageHalo.png" alt="Halo" />
    </div>

    <!-- Conteúdo central -->
    <div class="main-content">
        <div class="slider">
            <div class="slides">
                <div class="slide active"><img src="~/images/SlideDaysGone.jpg" alt="Days Gone" /></div>
                <div class="slide"><img src="~/images/SlideGow.jpg" alt="God of War" /></div>
                <div class="slide"><img src="~/images/SlideHorizon.jpg" alt="Horizon" /></div>
                <div class="slide"><img src="~/images/SlideTlous.jpg" alt="The Last of Us" /></div>
            </div>

            <button class="nav prev">&#10094;</button>
            <button class="nav next">&#10095;</button>

            <div class="dots"></div>
        </div>
    </div>

    <!-- Lateral direita -->
    <div class="side right">
        <img src="~/images/SideImageAssassin.png" alt="Assassin" />
    </div>
</div>
