@{
    ViewData["Title"] = "PortalGamerX";
    Layout = "_Layout";
}

<div class="main-container">
    <!-- Lado esquerdo -->
    <div class="side-image left">
        <img src="~/Images/halo.png" alt="Halo">
    </div>

    <!-- Centro (barra + slides) -->
    <div class="center-content">
        <!-- Barra de pesquisa -->
        <div class="search-bar">
            <input type="text" placeholder="Pesquisar..." />
        </div>

        <!-- Área de slides -->
        <div class="slider-container">
            <div class="slides fade">
                <img src="~/Images/DAYS.jpg" alt="Slide 1" />
            </div>
            <div class="slides fade">
                <img src="~/Images/GOD.jpg" alt="Slide 2" />
            </div>
            <div class="slides fade">
                <img src="~/Images/Horizon.jpg" alt="Slide 3" />
            </div>
            <div class="slides fade">
                <img src="~/Images/tlous.jpg" alt="Slide 3" />
            </div>

            <!-- Botões -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Pontos -->
            <div class="dots-container">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </div>
    </div>

    <!-- Lado direito -->
    <div class="side-image right">
        <img src="~/Images/assasin.png" alt="Assassin">
    </div>
</div>

@section Scripts {
    <script src="~/js/slide.js"></script>
}
