<aside class="side-menu">
    <section>
        <h3>CATEGORIAS</h3>
        <ul>
            <li><a href="#">Ação</a></li>
            <li><a href="#">RPG</a></li>
            <li><a href="#">Tiro</a></li>
            <li><a href="#">Estratégia</a></li>
            <li><a href="#">Simulação</a></li>
        </ul>
    </section>

    <section>
        <h3>FRANQUIAS</h3>
        <ul>
            <li><a href="#">God of War</a></li>
            <li><a href="#">The Last of Us</a></li>
            <li><a href="#">Horizon</a></li>
            <li><a href="#">Call of Duty</a></li>
        </ul>
    </section>

    <section>
        <h3>PLATAFORMAS</h3>
        <ul>
            <li><a href="#">PlayStation</a></li>
            <li><a href="#">Xbox</a></li>
            <li><a href="#">PC</a></li>
            <li><a href="#">Nintendo</a></li>
        </ul>
    </section>
</aside>
