<header class="site-header">
    <nav class="main-nav">
        <a class="Logo" asp-controller="Home" asp-action="PortalGamerX">PortalGamerX</a>
        <ul class="menu">
            <li><a asp-controller="Home" asp-action="Explorar">Explorar</a></li>
            <li><a asp-controller="Home" asp-action="Jogos">Jogos</a></li>
            <li><a asp-controller="Home" asp-action="Produtos">Produtos Geeks</a></li>
            <li><a asp-controller="Home" asp-action="Franquias">Franquias</a></li>
        </ul>
    </nav>
</header>
