@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - PortalGamerX</title>

    <link rel="stylesheet" href="~/css/Header-Nav.css" />
    <link rel="stylesheet" href="~/css/site.css" />    <!-- CSS global -->
    <link rel="stylesheet" href="~/css/Slide.css" />   <!-- CSS do slide -->
</head>
<body>
    <partial name="_Header" />

    <!-- Aqui vai o conteúdo específico de cada view -->
    <main id="app-content">
        @RenderBody()
    </main>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/slide.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
